/*通用設定*/
*,*::before,*::after {
    box-sizing: border-box;
}
body {
    font-family: "Noto Sans TC", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.05em;
    font-weight: 500;
    color: $neutral-900;
}
.btn {
    font-family: "Noto Sans TC", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    font-weight: 700;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
}
a {
    text-decoration: none;
    display: block;
    color: $neutral-900;
}
.t-h1, .t-h2, .t-h3, .t-h4, .t-h5, .t-h6 {
    line-height: 1.2;
}
.lh-p {
    line-height: 1.5;
}