<section class="discount-bar d-flex jc-c ai-c py-24">
    <h2 class="t-h4 t-m-h5 mr-24 mr-m-16">加入會員取得 9 折優惠</h2>
    <button type="button" class="btn btn-neutral">馬上註冊</button>
</section>
<footer class="footer py-64 py-m-32">
    <div class="container">
        <div class="d-flex d-s-block jc-sp ai-c pb-24 border-line">
            <a href="index.html">
                <img class="mr-48" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/14f2133cdd6d831a3acb833025093d4fcbffc381/2025-week1/logo.svg" alt="URBNSTEP logo">
            </a>
            <ul class="d-flex d-s-block">
                <li><a href="all_shoes.html" class="mr-40 mr-s-0 py-12 px-s-12 mb-m-4">商品列表</a></li>
                <li><a href="story.html" class="py-12 px-s-12">品牌故事</a></li>
            </ul>
        </div>
        <div class="mt-32 tp-sm fw-400 t-neutral-600">
            <p class="mb-4">Copyright ©2025 URBNSTYLE</p>
            <p>All Rights Reserved.</p>
        </div>
    </div>
</footer>