<nav class="container d-flex jc-sp py-16 ai-c py-m-12">
    <ul class="nav-list d-flex">
        <li>
            <a href="index.html">
                <img class="mr-48" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/14f2133cdd6d831a3acb833025093d4fcbffc381/2025-week1/logo.svg" alt="URBNSTEP logo">
            </a>
        </li>
        <li><a href="all_shoes.html" class="mr-40 py-12 d-s-none">商品列表</a></li>
        <li><a href="story.html" class="py-12 d-s-none">品牌故事</a></li>
    </ul>
    <a href="#" class="p-12"><i class="bi bi-person"></i></a>
</nav>